@charset "utf-8";

.two {
  display: flex;
}
.two li{
  width: 47%;
  margin: 0 10px;
  padding: 15px 0;
  text-align: justify;
  text-justify: inter-ideograph;
}
@media (max-width: 768px) {
.two {
  display: block;
}
.two li{
  width: 90%;
  margin: 0 auto;
}
}

#free_page .free_title {
  width: 100%;
  font-size: 30px;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
}
#free_page p {
  font-size: 1.1em;
  margin: 20px 0;
}
#free_page img {
  width: 100%;
  margin: 10px 0;
}
#free_page .attention {
  color: red;
  text-decoration: underline;
}
#free_page h3 {
  font-size: 1.5em;
  margin: 20px 0;
}
#free_page .information {
  background-color: #fbfbe9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}
#free_page .information span{
  display: block;
  margin: 2.5px 0;
}
@media (max-width: 768px) {
#free_page {
  width: 95%;
  margin: auto;
  padding-bottom: 50px;
}
#free_page .free_title {
  margin-bottom: 0.8em;
  padding-bottom: 0.2em;
  font-size: 20px;
}
}

/* アレンジレシピ */
.arrange_recipe_title {
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 1rem 0;
  margin: 30px 0;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #67a538;
}
.arrange_recipe_title span{
  margin-left: 35px;
  font-size: 1.2em;
}
.arrange_recipe_title:before {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}
.arrange_recipe {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}
.arrange_recipe a{
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px 10px;
  margin-right: 20px;
  max-width: 25%;
}
.arrange_recipe a:last-child{
  margin-right: 0;
}
.arrange_recipe h4{
  font-size: 0.9em;
  margin-top: 15px;
  margin-left: 5px;
}




.lp img {
  width:100%;
}
.lp {
  max-width:1100px;
  margin:auto;
  text-align: center;
}
.lp ul{
  display: flex;
  flex-wrap: wrap;
}
.lp ul li{
  width: 30%;
}
.lp .title{
  font-size: 1.3em;
  color: red;
  line-height: 36px;
}
.lp img.title{
  width: 70%;
  margin: 30px 0;
}
.lp .p_attention {
  padding: 30px 0 100px 0;
  color: #000;
  font-size: 1.1em;
  line-height: 26px;
  width: 80%;
  margin: auto;
  text-align: left;
  letter-spacing: 0.03em;
}
.cart_in {
  background: #6eb83f;
  padding-bottom: 40px;
}
.cart_in_sale {
  background: #e63e32;
  padding: 30px 0;
}
.cart_in .title{
  color: #fff;
}
.cart_in_sale_last {
  padding: 60px 0;
}
.cart_in p{
  color: #fff;
}
@media (max-width: 1100px) {
  #container,#main {
    width:100%;
  }
  #container > #main{
    padding-left: 5px;
    padding-right: 5px;
    max-width: calc(100% - 230px);
  }
  .lp {
    max-width:100%;
  }
}
@media (max-width: 600px) {
  #main{
    width: 100%;
    max-width: 100%;
  }
  #container > #main{
    max-width: 100%;
    width: 100%;
  }
}


@media (max-width: 415px) {
  #main{
    margin-top: 5px;
  }
.lp ul li{
  width: 40%;
}
.cart_in p{
  width: 90%;
  margin: auto;
  font-size: 0.7em;
}
.lp .attention {
  font-size: 0.9em;
  line-height: 26px;
  width: 90%;
}
}





/*--------------------------------------
  レビュー
--------------------------------------*/
.p-review-title {
  margin: 30px 0;
  color: #000;
  font-size: 2em;
}
.p-review {
  padding-bottom: 30px;
}
.p-review article{
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  border: 3px solid #000;
  background-color: #fff;
  display: flex;
  color: #212121;
  text-decoration: none;
  padding: 20px 0;
  margin: 15px 0;
  text-align: left;
  align-items: center;
}
.p-review img {
  max-width:  170px;
  border-radius: 100%;
  margin: 0 15px;
}
.p-review .body {
  width: 90%;
  margin: auto;
}
.p-review .head {
  margin-bottom: 10px;
}
.p-review .title {
  font-size: 1.4em;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.p-review .name {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 15px;
}
.p-review .star {
  color:#eee;
  margin-right: 5px;
}
.p-review .star02 {
  color:#f90;
}
.p-review .day {
  color:#000;
  font-size: 0.7em;
}
.p-review .text{
  font-size: 0.9em;
  line-height: 21px;
  letter-spacing: 0.05em;
}
@media (max-width: 768px) {
.p-review article{
  width: 90%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
}






/* ************************************************
*  アレンジレシピ
* ************************************************ */

/*レシピタイトル*/
#free_page .recipe_title {
  width: 100%;
  font-size: 30px;
  font-weight: 500;
  margin: 40px 0 30px 0;
  text-align: center;
}
/*レシピ画像*/
.main-image {
  padding: 10px 0 30px 0;
  box-sizing: border-box;
  max-width: 50%;
  margin: auto;
}
#free_page .recipe_title_s {
  background: #f5f5f5;
  position: relative;
  width: 100%;
  font-size: 21px;
  font-weight: 500;
  margin: 0;
  padding: 10px 15px 5px 15px;
  box-sizing: border-box;
  color: #00a237;
  border-bottom: solid 1px #fff;
  background-image: url(https://img07.shop-pro.jp/PA01438/298/etc/people.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
#free_page .recipe_title_s span{
  position: absolute;
  right: 48px;
  top: 8px;
  color: #333;
  font-size: 24px;
}
ul.recipe h4{
  margin:40px 0 15px 0;
  color:#00a237;
  font-size: 1.1em;
  font-weight: 500;
}
ul.recipe h5{
  color:#333;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 10px;
}
ul.recipe {
  display: flex;
}
ul.recipe li {
  margin: 10px;
}
/*材料*/
.recipe-item {
  flex-basis: 45%;
}
.recipe-item table {
  background: #f5f5f5;
  width: 100%;
  border-collapse: separate;
  empty-cells:show;
}
.recipe-item th {
  width: 200px;
  text-align: left;
  font-weight: 600;
}
.recipe-item td {
  zoom: 1;
  content: ' ';
  text-align: right;
  font-weight: 300;
  font-size: 0.95em;
}
.recipe-item th,
.recipe-item td {
  color: #333;
  padding: 15px;
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
  border-bottom: solid 1px #fff;
}
ul.recipe-product {
  background: #f5f5f5;
  padding: 0 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
ul.recipe-product li:first-child{
  flex-basis: 40%;
}
ul.recipe-product li:last-child{
  flex-basis: 60%;
}
ul.recipe-product li img{
  width: 90%;
  background: #fff;
}
ul.recipe a{
  text-decoration: underline;
  font-size: 0.9em;
}
ul.recipe a:hover{
  color: #00a237;
}
/*作り方*/
.recipe-howto {
  flex-basis: 55%;
}
li.recipe-howto ol {
  counter-reset:number;
  list-style-type: none!important;
  margin-bottom: 40px;
}
li.recipe-howto ol li {
  position: relative;
  line-height: 1.5em;
  padding: 1em 0.5em 1em 40px;
  border-bottom: 2px dotted #cccccd;
}
li.recipe-howto ol li:before{
  position: absolute;
  counter-increment: number;
  content: counter(number);
  display:inline-block;
  background: #00a237;
  color: #fff;
  font-weight:500;
  font-size: 15px;
  border-radius: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  top: 27px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
li.recipe-howto .point {
  border: 1px solid #00a237;
  border-radius: 5px;
  padding: 15px;
  color: #00a237;
}
.point .title{
  color: #00a237;
  font-size: 1.1em;
  border-bottom: 2px solid #00a237;
  font-weight: 500;
  display: inline-block;
  font-style: italic;
}
.point span{
  margin-top: 10px;
  display: block;
}
@media (max-width: 1100px) {
.main-image {
  max-width: 100%;
}
ul.recipe {
  display: block;
}
}
