@charset "utf-8";

.t_name{
  margin-top: 10px;

}
.day {
  color: #a98a53;
  display: inline-block;
  font-size: 0.8em;
  padding-right: 10px;
}


#shop_list{
  padding-bottom: 30px;
}
#shop_list ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
}
#shop_list li{
  margin: 5px 0;
  position: relative;
  width: 47%;
}
#shop_list span{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;  
  color: #FFF;
  text-align: center;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.001em
}
#shop_list .zoom-grayscale-link {
    color: #fff;
    display: flex;
    font-size: 0.87em;
    font-weight: bold;
    top:-5px; 
    left: 0;
    position: absolute;
    text-decoration: none;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.zoom-grayscale-photo {
    display: block;
    filter: grayscale(100%);
    transition: all .2s ease-in-out;
    z-index: 1
}
.zoom-grayscale-link:hover {
    text-shadow: 0 0 35px rgba(0,0,0,.8);
}
.zoom-grayscale-link:hover +.zoom-grayscale-photo {
    filter: grayscale(0%);
}
@media (max-width: 1100px) {
#shop_list .zoom-grayscale-link {
    font-size: 1.2em;
}
}

/* お知らせ */
.info_block {
  width: 100%;
  padding: 8px 0 7px 0;
  text-align: center;
  background-color: #e4dccd;
}
h2.news {
  display: inline-block;
  padding: 5px 5px 3px 5px;
  font-size: 0.9em;
  font-weight: bold;
  color: #a58958;
  border: 1px solid #a58958;
  border-radius: 3px;
  background-color: #FFF;
}
.info_block div{
  display: inline-block;
}
.info_block a{
  color: #000;
  font-size: 1.1em;
  margin-left: 5px;
  margin-right: 5px;
}
@media (max-width: 520px) {
.info_block {
  padding: 8px 0 7px 0;
}
h2.news {
  display: inline-block;
  padding: 4px;
  margin-bottom: 5px;
  font-size: 0.6em;
}
.info_block div{
  line-height: 23px;
  display: inline-block;
  font-size: 0.6em;
}
.info_block a{
  margin: 0;
}
}



/* ************************************************
*  all
* ************************************************ */
* {
  margin: 0px;
  padding: 0px;
}

html {
  overflow-y: scroll;
  height: 100%;
}
a {
  outline: none;
  color: <{$link_normal}>;
}
a:visited,:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: <{$link_hover}>;
}
img {
  width: 100%;
  border: none;
  vertical-align: middle;
}
.for-sp {
  display: none;
}
@media (max-width: 780px) {
.for-pc {
  display: none;
}
.for-sp {
  display: block;
}
}

/* ************************************************
*  clearfix
* ************************************************ */

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

/* ************************************************
*  itembox
* ************************************************ */

#box_recommend, #box_new-item, #box_list{
  width: 780px;
  display: relative;
  padding-top: 20px;
  padding-bottom: 50px;
}
#box_recommend ul, #box_new-item ul, #box_list ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;   
}
#box_recommend ul li, #box_new-item ul li{
  width: 23.6%;
  margin: 15px 0;
}
#box_list ul li{
  width: 32%;
  margin: 15px 0;
}
#box_recommend ul::after, #box_recommend ul::before,
#box_new-item ul::after, #box_new-item ul::before {
  content: "";
  display: block;
  width: 23.6%;
  height: 0;
}
#box_list ul::after, #box_list ul::before {
  content: "";
  display: block;
  width: 32%;
  height: 0;
}
#box_recommend ul::before,
#box_new-item ul::before,
#box_list ul::before{
  order: 1;
}
.item_box .item_detail {
  margin: 15px 0 0;
  padding-left: 10px;
  border-left: solid 1px #ddd;
}
.item_box .item_detail p{
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
}
.item_box .item_detail p.item_name {
  margin-bottom: 5px;
  font-size: 15px;
}
@media (max-width: 1100px) {
#box_recommend, #box_new-item, #box_list{
  width: 90%;
  margin: auto;
}
#box_recommend ul li, #box_new-item ul li, #box_list ul li{
  width: 48%;
}
}

/* ************************************************
*  product_list_page
* ************************************************ */

.sub_category_area,
.sub_group_area {
  margin-bottom: 20px;
  padding: 10px 10px 0px 10px;
  height: 100%;
  border: solid 1px #eee;
}

.sub_category_area div.sub_category,
.sub_group_area div.sub_group {
  float: left;
  margin: 0 20px 10px 0;
}

.sub_category_area div.sub_category img,
.sub_group_area div.sub_group img {
  margin-right: 10px;
  border: solid 1px #ccc;
}
@media (max-width: 1100px) {
.sub_category_area,
.sub_group_area {
  margin: auto;
  margin-bottom: 20px;
  width: 90%;
}
}

/* ************************************************
*  layout
* ************************************************ */

/*ページ全体の幅、レイアウトをセンタリング*/
#container {
  margin:0px auto;
  width:1100px;
  text-align:left;
  padding-top: 30px;
}

#top_line{
  margin: 0 0 15px;
  width: 100%;
  height: 3px;
  background: transparent url("https://img.shop-pro.jp/tmpl_img/67/border_bottom.png") repeat-x left top;
}

/*サイド*/
#side {
  float: right;
  width: 240px;
  margin-top: 260px;
  background-color: #f3efec;
  border-radius: 10px;
  padding: 20px;
}
.side_bn {
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 2px 1px #BBBBBB;
}
a.more p{
  text-align: right;
  color: orange; 
  font-size: 1.2em;
  font-weight: bold;
}
#side a {
  text-decoration: none;
}
#side h3{
  font-size: 1.3em;
  font-weight: bold;
  line-height: 40px;
}
#side li {
  margin: 10px 0;
}
.clear {
  clear: both;
}
/*メイン*/
#main {
  float: left;
  width: 780px;
}
/*フッター（コピーライト）*/
#footer {
  clear:both;
  margin-top: 60px;
  padding: 30px 0 20px;
  width:100%;
  border-top: 1px solid #ccc;
  color: #666;
  text-align: center;
}


/* ************************************************
*  header
* ************************************************ */

#header .header_menu {
  width:100%;
  float: left;
  font-size: 1.1em;
  font-weight: bold;
}
#header .header_menu ul {
  width: 100%;
  display: flex;
}
#header .header_menu ul li {
  margin-left: 0;
  font-weight: bold;
  position: relative;
  display: inline-block; 
  padding: 1.1em 0;
  text-align: center;
  text-decoration: none;
  color: #2f0f04;
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  border-right: solid 1px #d2c4ab;
}
#header .header_menu ul .menu {
  flex-basis:15%; 
}
#header .header_menu ul .space {
  flex-basis: 18%; 
}
#header .header_menu ul .home {
  flex-basis: 4%; 
}

#header .header_menu ul li a {
  text-decoration: none;
  color: #a58958;	
}
.my-gold {
  color: #a58958;
}
#header .header_menu ul li a:hover{
  opacity: 0.7;
}
@media (max-width: 1340px) {
#header .header_menu {
  font-size: 1em;
}
#header .header_menu ul .menu {
  flex-basis:22.5%; 
}
#header .header_menu ul .space {
  flex-basis: 0%; 
}
#header .header_menu ul .home {
  flex-basis: 10%; 
}
#header .header_menu ul li:first-child {
  border-left: none;
}
#header .header_menu ul li:last-child {
  border-right: none;
}
}

/* shopname logo */
.shop_name {
  float: left;
  margin-left: 15px;
}
.shop_name img {
  max-width: 75px;
  height: inherit;
}

/* header global nav */
.header_global_nav {
  margin-top: 3px;
  margin-bottom: 2em;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
.header_nav_lst {
  text-align: center;
}
.header_nav_menu {
  position: relative;
  display: inline;
  margin: 0 1em;
  padding: 0 1em;
  text-align: center;
  font-weight: bold;
  line-height: 4;
}
.header_nav_menu a,
.header_nav_menu span {
  display: inline;
  color: #444;
  text-decoration: none;
  cursor: pointer;
}
.header_nav_menu_category img {
  position: relative;
  width: 16px;
  height: 16px;
}
.header_category_lst {
  position: absolute;
  left: 0;
  z-index: 101;
  display: none;
  min-width: 100%;
  width: auto;
  border-top: 1px solid #aaa;
  background-color: #fff;
}
.header_category_lst li {
  display: block;
  float: none;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  border-left: 1px solid #888;
  text-align: left;
  white-space: nowrap;
  word-break: break-all;
  line-height: 1.4;
}
.header_category_lst a {
  display: block !important;
  padding: 1em;
  background-color: #fff;
}











/* ************************************************
*  footer
* ************************************************ */

#footer a {
  color: #666;
}
#footer .footer_menu {
  width: 750px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
#footer .footer_menu li {
  width: 20%;
  margin: 0 5px;
}
.copyright {
  clear: both;
  padding: 1em 0 2em 0;
  text-align: center;
  font-size: 76.923%;
}
@media (max-width: 750px) {  
#footer {
  margin: 0;
  border-top: none;
  padding: 15px 0 10px 0;
}
#footer .footer_menu {
  width: 90%;
  flex-wrap: wrap;
}
#footer .footer_menu li {
  width: 30%;
  margin: 0 5px;
}
#footer .footer_menu {
  margin-bottom: 0;
}
#footer .footer_menu li {
  font-size: 0.7em;
  margin: 10px 0;
}
.copyright {
  font-size: 0.6em;
  padding: 1em 0;  
}
}


.foot_sk_box{
  float: left;
  padding: 0 25px;
  width: 200px;
  text-align: left;
}
.foot_sk_box h3{
  margin: 0 0 1em;
}
.foot_sk_box h4{
  font-size: 13px;
}
.foot_sk_box dt{
  margin: 0 0 .5em;
}
.foot_sk_box dd{
  margin: 0 0 1.5em;
}








/* ************************************************
*  search_page
* ************************************************ */

.search_result {
  margin: 20px 0;
  padding: 10px 0;
  background: #ddd;
  text-align: center;
}

.none {
  margin: 50px 0;
  text-align: center;
}

/* ************************************************
*  policy
* ************************************************ */

#policy {
  line-height: 1.8;
  font-size: 14px;
}
#policy h2 {
  font-size: 2em;
  margin-top: 15px;
  margin-bottom: 30px;
}
.policy_box,
#policy_lead{
  margin-bottom: 30px;
}
.sk_box {
  margin-bottom: 70px;
}
.sk_box h3 {
  margin-bottom: 1em;
  font-size: 16px;
}
.sk_box table {
  width: 100%;
  border-top: 1px solid #ccc;
  border-collapse: separate;
  empty-cells:show;
}
.sk_box th {
  padding: 20px 40px 20px 0;
  width: 170px;
  text-align: left;
}
.sk_box th img.poricy_img {
  margin-bottom: 5px;
}
.sk_box td {
  padding: 20px 0;
  zoom: 1;
  content: ' ';
}
.sk_box th,
.sk_box td {
  vertical-align: top;
  line-height: 1.8;
  position: relative;
  border-bottom: solid 1px #ccc;
}
#payment_method {
  margin-top: 40px;
}
#payment_method table.table {
  width: 100%;
}
#payment_method table.table th {
  width: 200px;
  text-align: center;
}

#shipping_method {
  margin-top: 40px;
}
#shipping_method table.table {
  width: 100%;
}
#shipping_method table.table th {
  width: 200px;
  text-align: center;
}
@media (max-width: 1100px) {
#policy h2 {
  font-size: 1.6em;
  margin: 15px 0;
}
#policy .inner{
  width: 90%;
  margin: auto;
}
} 
@media (max-width: 375px) {
.sk_box th {
  display: block;
  padding: 10px 0;

  width: 100%;
}
.sk_box td {
  display: block;
  padding: 10px 0;
  width: 100%;
}
.sk_box p {
  padding: 0 10px;
}
}

/* ************************************************
*  side
* ************************************************ */

.more_btn{
  padding: 8px 0;
  border-top: solid 1px #999;
  text-align: center;
  cursor: pointer;
}

.updown{
  display: inline-block;
  margin: 0 3px 0 0;
  width: 13px;
  height: 8px;
  background: url(https://img.shop-pro.jp/tmpl_img/67/down_icon.png);
  background-repeat: no-repeat;
}

.more_up{
  background: url(https://img.shop-pro.jp/tmpl_img/67/up_icon.png);
}

/* ************************************************
*  Common Elements
* ************************************************ */
/* @group Common Elements */

table {
  border-spacing: 0;
  border-collapse: collapse;
}
table.table {
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
table.table th {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background: #f5f5f5;
}
table.table td {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.footstamp  {
  padding-bottom: 15px;
}
.footstamp span {
  margin: 0 5px;
  color: #999;
}
.sort {
  float: right;
  padding-right: 10px;
  margin-bottom: 20px;
  text-align: right;
}
.sort strong {
  margin-right: 5px;
}
.sort a {
  margin-right: 5px;
  text-decoration: underline;
}
.sort span {
  margin-right: 5px;
  background: #eee;
  text-decoration: none;
  font-weight: bolder;
}

.pager {
  clear: both;
  margin: 20px 0;
  text-align: center;
}
.pager a{
  margin: 15px;
}
@media (max-width: 1100px) {
.footstamp, .sort, .pager {
  width: 90%;
  margin: auto;
}
}

/* @group button */
.btn {
  display: block;
  margin-top: 1em;
  border: none;
  border-radius: 0;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  font-family:'Lucida Grande',
  'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
  Meiryo, メイリオ, sans-serif;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance:none;
}
.btn:link,
.btn:visited,
.btn:hover,
.btn:active{
  color: #fff;
  text-decoration: none;
}
.btn-primary {
  margin: 1.2em 0 .9em;
  padding: 1.4em 0;
  background-color: #c86464;
}
.btn-contact {
  margin: 0.5em 0.3em;
  padding: 1.3em 0;
  background-color: #a0a0a0;
  font-weight: normal;
  font-size: 13px;
}
.btn-quick {
  margin: 0.9em 0;
  padding: 1.3em 0;
  background-color: #64b4c8;
  font-size: 13px;
}













.contact {
  text-align: center;  
  font-weight: 600;
  color: #a58958;
}
.contact p{
  line-height: 23px;
}
.fa-envelope {
  font-size: 37px;
  color: #b09a68;
  margin: auto;
  text-align: center;
}
.logo {
  height: 57px;
}
.mail_magazine {
  width: 100%;
  text-align: center;
  background: #a58958;
}


@charset "euc-jp";

/* reset */
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, textarea,
p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
.none_border_table,
.product_option_table table {
  border-spacing: 0;
  border-collapse: collapse;
}
fieldset,
img {
  border: 0;
  width: 100%;
}
}
address, caption, cite, code,
dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}
 
ol, ul {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}
q:before,
q:after {
  content: '';
}
abbr, acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-weight: inherit;
  font-size: inherit;
  font-family: 'Noto Sans JP', sans-serif;
}
input,
textarea,
select {
  *font-size: 100%;
}
legend {
  color: #000;
}

/* font size */
body {
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
  letter-spacing: 0.05em;
  *font-size: small; /* for IE */
  *font: x-small; /* for IE in quirks mode */
}
select, input, button, textarea {
  font: 99% arial,helvetica,clean,sans-serif;
  letter-spacing: 0.05em;
}
table {
  font: 100%;
  letter-spacing: 0.05em;
  font-size: inherit;
}
pre, code, kbd, samp, tt {
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.05em;
  line-height: 100%;
  *font-size: 108%;
}

/* common */
body {
  color: #3d2d23;
  font-family: 'Noto Sans JP', sans-serif;
}
a {
  color: <{$link_normal}>;
}
input[type="text"],
textarea,
select {
  border: 1px solid #888;
}
/* clearfix */
.clearfix {
  *zoom: 1;
}
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both;
  }

/* icons */
.icon:before,
.ie_icon {
  display: block;
  float: left;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background-image: url(https://img.shop-pro.jp/tmpl_img/62/icons16.png);
  background-repeat: no-repeat;
  content: "";
}
  .icon_myaccount:before,
  .ie_icon_myaccount {
    background-position: left -96px;
  }
  .icon_regist:before,
  .ie_icon_regist {
    background-position: left -192px;
  }
  .icon_login:before,
  .ie_icon_login {
    background-position: left -224px;
  }
  .icon_logout:before,
  .ie_icon_logout {
    background-position: left -208px;
  }
  .icon_search:before,
  .ie_icon_search {
    background-position: left -16px;
  }
  .icon_viewcart:before,
  .ie_icon_viewcart {
    background-position: left -0px;
  }
  .icon_sort:before,
  .ie_icon_sort {
    background-position: left -112px;
  }
  .icon_prev:before,
  .ie_icon_prev {
    margin-right: 0;
    background-position: left -32px;
  }
  .icon_next:before,
  .ie_icon_next {
    float: right;
    margin-right: 0;
    background-position: right -48px;
  }
  .icon_prev_dis:before,
  .ie_icon_prev_dis {
    margin-right: 0;
    background-position: left -64px;
  }
  .icon_next_dis:before,
  .ie_icon_next_dis {
    float: right;
    margin-right: 0;
    background-position: right -80px;
  }
  .icon_lst:before,
  .ie_icon_lst {
    margin-right: 0;
    background-position: left -176px;
  }
    .footer_lst .icon_lst:before,
    .footer_lst .ie_icon_lst {
      margin-left: -16px;
    }
  .icon_down:before,
  .ie_icon_down {
    display: none;
  }
  .icon_category_lst:before,
  .ie_icon_category_lst {
    display: none;
  }
  .icon_review:before,
  .ie_icon_review {
    background-position: left -240px;
  }
  .icon_review_post:before,
  .ie_icon_review_post {
    background-position: left -256px;
  }

/* layout */
.layout_wrapper {
  margin: 0px auto;
  background-color: #fff;
}
.layout_header,
.layout_footer {
  margin: 0px auto;
}
.layout_container {
  margin: 0px auto;
  width: 1200px;
  padding: 0;
}


.header_btn {
  font-size: 1.2em;
  height: 20px;
  padding: 10px 20px;
  font-weight: bold;
  border: 1px solid #a58958;
  border-radius: 5px;
}
.header_btn a{
  text-decoration: none;
}
.member_regist_btn {
  background-color: #a58958;
  color: #FFF;
}
.member_login_btn{
  color: #a58958;
}
.header_member_nav {
  right: 0;
  display: flex;  
  position: absolute;
  justify-content: flex-end;
  align-items: center;
}
.header_member_nav a {
  margin-right: 7px;
  text-decoration: none;
}
.header_member_nav a:last-child {
  margin-right: 0;
}
.header_member_nav a:hover {
  opacity: 0.7;
}
.member_login_name {
  margin-bottom: .5em;
  text-align: right;
}

.header_headline_nav {
  display:flex;
  align-items: center;  
  position: relative;
  padding: 10px 0;
  margin: 0px auto;
  width: 1200px;
}


/* product search form */
.prd_search_block {
  float: left;
  margin: -6px 0 0 0;
  padding: 6px 0 0 1px;
  width: 30.212%;
  font-size: 92.307%;
}
  .prd_search_block.open {
    padding: 5px 0;
    border: 1px solid #888;
  }
  .prd_search_form_btn {
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    padding: .3em .5em;
    border: 1px solid #a0a0a0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  .prd_search_form {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: none;
    overflow: hidden;
    margin-top: 5px;
    padding: 5px;
    border-top: 1px solid #888;
    width: 97%;
  }
  .prd_search_keyword {
    float: left;
    padding: .5em 0;
    width: 80%;
    border: 1px solid #888;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-indent: 5px;
  }
  .prd_search_btn {
    float: right;
    width: 18%;
    border: 1px solid #444;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #444;
    color: #fff;
    cursor: pointer;
  }
  .prd_search_optioncategory {
    margin-top: 10px;
    line-height: 1.5;
  }
  .prd_search_select {
    display: inline-block;
    width: 100%;
    font-size: 120%;
  }
  .prd_search_select option {
    word-break: break-all;
  }







 









@media (max-width: 1200px) {
.header_headline_nav {
  width: 100%;
  padding: 0;
}
.shop_name {
  margin-left: 5px;
}
  .shop_name img {
    max-width: 65px;
    height: auto;
    margin: 5px 0;
  }
.header_btn {
  font-size: 0.9em;
  height: auto;
  padding: 7px;
}
.contact p{
  line-height: 15px;
  font-size: 0.7em;
  letter-spacing: -0.01em;
}
.fa-envelope {
  font-size: 27px;
}
.header_member_nav {
  right: 10px;
}
@media (max-width: 375px) {
#header .header_menu {
  font-size: 0.9em;
}
}
@media (max-width: 1100px) {
#container, #main, #side {
  width:100%;
}
#side {
  margin: 0;
  border-radius: 0;
  padding: 30px 0;
}
#side .inner{
  width: 90%;
  margin: auto;
}  
}